/* General rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* End general rules */


/* Start nav */
nav {
  position: fixed;
  top:0;
  margin: 0;
  width: 100%;
  line-height: 4rem;
  z-index: 1000;
  font-size: 0.9rem;
  background-color: #fff;
}
#logo {
  width: 190px;
  vertical-align: -10%;
  margin-left: 1vw;
}

nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li:nth-child(-n + 3) {
  margin-right: 1vw;
}
nav ul li a {
  text-decoration: none;
  color: #333333;
}
nav ul li a:hover {
  text-decoration: underline;
}
.ul-fl-right {
  float: right;
  margin-right: 2vw;
}
.ul-fl-right li:last-child a {
  padding: .3rem .6rem;
  border: 1px solid #0971f1;
  border-radius: .2rem;
  color: #0971f1;
}
.ul-fl-right li:last-child a:hover {
  text-decoration: none;
  background-color: #0971f1;
  color: white;
}
.md-display {
  display: none;
}
@media (max-width: 992px) {
  .md-display {
    display: block;
  }
  .md-display a {
    float: right;
    margin-right: 2vw;
    font-size: 1.5rem;
    color: blue;
  }
  .md-display-none {
    display: none;
  }
}

/* End nav */


/* Start Header */
header {
  width: 100%;
  height: 100%;
  padding-top: calc(4rem + 60px);
  padding-bottom: 60px;
  background-image: url(../img/bg-home-hero-3.svg);
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}

/* Title header */
.title {
  padding: 0px 80px 0 1vw;;
}
.title h1, .title p {
  color: white;
}
.title h1 {
  font-size: 3.5rem;
  margin-bottom: 1vw;
  padding-right: 20px;
}
.title p {
  font-size: 1.3rem;
}
/* End title */

/* Title Form */
.get-started {
  margin-right: 2vw;
  padding: 1.5rem 1rem;
  background-color: #fff;
  text-align: center;
  border-radius: .5rem;
}
.get-started p:nth-child(2) {
  color: #0971f1;
  margin: 0.5rem;
  font-size: 1.7rem;
  font-weight: 500;
}
/* Form */
.form-input-container {
  border: 1px solid #ddd;
  border-radius: .3rem;
  margin-bottom: 0.8rem;
  padding-left: 0.5rem;
}
/* display block for input and create account links */
.form-input-container input,
.create-account-container .create-account,
.sign-up-google-container .sign-up-google {
  display: block;
  width: 100%;
}
/* styles for input */
.form-input-container input {
  line-height: 2.3rem;
  border: none;
}
.form-input-container input:focus {
  outline: none;
}

/* styles for 'create' and 'sign up' containers */
.create-account-container,
.sign-up-google-container {
  margin-bottom: 0.5rem;
  border-radius: .3rem;
  padding: .3rem 0;
  font-weight: 500;
}
.create-account-container .create-account,
.sign-up-google-container .sign-up-google {
  display: block;
  line-height: 1.5rem;
  text-decoration: none;
}
.create-account-container {
  background-color: #7398ea;
  border: 1px solid #7398ea;
}
.create-account {
  color: white;
}

.sign-up-google-container {
  position: relative;
  box-shadow: 2px 2px 5px #ddd;
  margin-bottom: 1rem;
}
.sign-up-google {
  color: #333;
}
#google-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 2%;
  width: 1.1rem;
  transform: translateY(-50%);
}

/* End header */


/* Start first section */

.trust {
  padding: 2rem 0;
  text-align: center;
  background-color: #ddd;
}
.trust-title {
  margin-bottom: 2rem;
}
.trust h5 {
  color: #777;
  text-transform: uppercase;
}
.pad-icons {
  padding: 0.5rem;
}
.icons-container img {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  object-fit: cover;
}
#docker, #slack, #git {
  object-fit: contain;
}

.stories {
  margin: 2rem 0 0;
}
.stories a {
  text-decoration: none;
  color: #0971f1;
}
.stories a:hover {
  text-decoration: underline;
}
.stories i {
  margin-left: 1rem;
}

/* End first section */


/* Start second section */
.deploy {
  padding: 3rem 0;
}
.deploy-title {
  margin-bottom: 4rem;
}
.deploy-title h2 ,.deploy-title p {
  text-align: center;
}
.deploy-title p {
  margin: 1rem 0;
  padding: 0 7.8rem;
  font-size: 1.2rem;
}

.deploy ul {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: 10rem;
  list-style: none;
}
.deploy ul li {
  padding: .7rem 0;
  padding-left: .5rem;
  border-left: 1px solid #777;
  font-size: 1.1rem;
  color: #666;
}
.conf-description {
  display: inline-block;
  float: left;
  width: 50%;
  padding-bottom: 1.5rem;
}
.conf-description p {
  padding-right: 5rem;
}
.conf-description h3 {
  margin: 1rem 0;
}

/* End second section */


/* Start third Section */

.control-panel {
  padding: 3rem;
  background-color: #ddd;
  text-align: center;
}
.control-panel-title p {
  padding: 2rem 0 3rem;
}
.panel-image {
  text-align: center;
  height: 24rem;
}
.panel-image:before, .panel-image:after {
  position: relative;
  display: inline-block;
  font-family: FontAwesome;
  bottom: 50%;
  transform: translateY(50%);
  font-size: 2rem;
}
.panel-image:before {
  content: "\f053";
  margin-right: 3rem;
}
.panel-image:after {
  content: "\f054";
  margin-left: 3rem;
}
.panel-image img {
  height: 100%;
}
.panel-caption p {
  padding: 2rem 0 1rem;
}
/* End third Section */


/* Start fourth section */
.features {
  padding: 3rem 0 5rem;
}
.features h2 {
  text-align: center
}
.mg-top {
  margin-top: 3rem;
}

/* End fourth section */


/* Start fifth section */

.around-world {
  padding: 4rem 0;
  background-color: blue;
}
.around-world-title {
  margin-bottom: 3rem;
}
.around-world-title h2 {
  text-align: center;
  color: #fff;
}

/* styiling table */
.table table {
  width: 100%;
  text-align: left;
  color: white;
  border-collapse: collapse;
}
.table table th {
  width: 15%;
}
.table table td:last-child {
  width: 20%;
}
.table table td:nth-child(2) {
  width: 65%;
  padding-left: 5%;
}
.table table th, .table table td {
  padding: 10px 0;
}
.table table tr:not(:last-child) th,
.table table tr:not(:last-child) td {
  border-bottom: 2px solid white;
}
.table table th {
  text-transform: uppercase;
  text-align: center;
}
.table table td:last-child a {
  color: lightBlue;
  text-decoration: none;
}
.table table td:last-child::after {
  font-family: FontAwesome;
  content: "\f105";
  margin-left: 10%;
}
/* end styiling table */
.container .table:first-child .container-table {
  margin-right: 4%;
}
.container .table:nth-child(2) .container-table {
  margin-left: 4%;
}

/* End fifth section */


/* Sixth section equal to Third section*/


/* Start seventh section */

.get-started-now {
  padding: 3rem 0;
  background-color: blue;
  text-align: center;
}
.get-started-title {
  color: white;
}
.btn-container {
  margin-top: 2rem;
}
.btn-container .btn-white {
  display: inline-block;
  padding: .7rem 1.5rem;
  text-decoration: none;
  color: blue;
  background-color: white;
  border-radius: .3rem;
}
.btn-white:hover {
  background-color: #ddd;
}
/* End seventh section */


/* Footer */
footer {
  padding: 3rem 0;
  background-color: darkBlue;
}
.logo-small {
  height: 2.5rem;
}
.logo-small img {
  height: 100%;
}
.copyright {
  color: #BBB;
}
.copyright p {
  margin: .7rem 0;
}
.socials {
  font-size: 1.5rem;
}
.socials a:not(:last-child) {
  margin-right: 3%;
}
footer h4 {
  line-height: 2.5rem;
  color: white;
}
footer ul {
  list-style: none;
}
footer ul li {
  padding-bottom: 1rem;
}
footer a {
  color: #BBB;
  text-decoration: none;
}
